.title-div{
 text-align: center;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 200px;
}

h1{
  font-size: 60px;
}

.container-fluid {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
}

.item-container {
  display: flex;
  /*flex-direction: column;*/
  flex-wrap: wrap;
  padding-bottom: 10px;
}



.item {
  flex: 1 0 21%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 1px solid #bbbbbb;
  border-radius: 10px;
  padding: 10px 10px 70px 10px;
  text-align: center;
}
.item:hover {
  background-color: #f5f5f5;
  border: 1px solid black;
  box-shadow: 5px 10px 10px grey;
  background-color: black;
  color: white;
  font-weight: bold;
}

.bold{
  font-weight: bold;
}

.text-name{
  font-size: 24px;
}

.item-margin-top {
  margin-top: 10px;
}

.ancestor{
  position:relative;
}

button{
  background-color: rgb(204, 204, 3);
  padding: 10px 30px 10px 30px;
  border-radius: 100px;
  position: absolute;
  display: block;
  color: white;
  bottom: 10px;
}


button:hover{
  background-color: white;
  color: black;
  border-radius: 100px;

}

@media (max-width: 1024px) {

  
  
  
  .item {
    flex: 1 0 42%;
  }
}

@media (max-width: 800px) {
  .item-container {
    display: flex;
    flex-direction: column;
  }
  
  
  
  .item {
    flex: none;
    margin: 0;
    margin-top: 10px;
    background-color: white;
    border: 1px solid #bbbbbb;
    border-radius: 10px;
    text-align: center;
  }
}